:root {
  --nav-active: grey;
  --link: #097574;
  --link-hover: #71d0c8;
  --banner-bg: #71d0c8;
  --banner-color: white;
  --header-color: #71d0c8;
}

body {
  margin: 0;
}

h1 {
  margin: 1em;
  text-align: center;
}

a {
  color: var(--link);
}

a:hover {
  color: var(--link-hover);
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
  padding: 1em;
  color: var(--nav-active);
  font-weight: bold;
}

h2 {
  padding: 2em;
  text-align: center;
  background-color: var(--banner-bg);
  color: var(--banner-color);
  font-size: 2rem;
}

h3 {
  margin: 2rem 1rem 1rem;
  color: var(--header-color);
  font-size: 2rem;
}

p {
  margin: 2rem 1rem;
  line-height: 2rem;
}
